[Unit]
Description=Robot control service
After=hoverboard-proxy.target

[Service]
User=ubuntu
ExecStart=/bin/bash --login -c 'source /home/ubuntu/.bashrc; /var/lib/horo/run.sh'
KillSignal=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
