[Unit]
Description=hoverboard proxy service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/var/lib/horo/hoverboard-proxy
User=ubuntu

[Install]
WantedBy=sysinit.target
