[Unit]
Description=IMU service
After=robot.target

[Service]
User=ubuntu
ExecStart=/bin/bash --login -c 'source /home/ubuntu/.bashrc; /var/lib/horo/imu.sh'
KillSignal=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
